@use "global" as *;

.heading {
  font-size:   rem(30);
  font-weight: $bold;
  line-height: calc(51 / 30);
  text-transform:capitalize;
  text-align: center;
  position: relative;
    @include mq("md") {
      font-size:  rem(40);
    }
}

.heading::after {
  position: absolute;
  content: '';
  width:  60px;
  height: 1px;
  border: 1px solid $blue;
  bottom:  rem(-7);
  left: 50%;
  transform: translateX(-50%);
}