@use "global" as *;

.header-nav {
  height: inherit;
}

.header-nav__lists {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav__list {
  height: inherit;
  text-transform: capitalize;
  font-weight: $regular;
  transition: all 0.3s ease 0s;
}

.header-nav__list a:hover {
  color: $blue;
  opacity: 0.8;
}

.header-nav__list:not(:first-child) {
  margin-left: rem(47);
}

.header-nav__list a {
  height: inherit;
  display: flex;
  align-items: center;
}
