@use "global" as *;

.products-cards {
  display: grid;
  row-gap: rem(48);
  grid-template-rows: 1fr;
  place-content: center;
  width: 100%;
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(80);
    max-width: rem(940);
  }
}

.products__cards {
  margin-inline: auto;
  margin-top: rem(80);
}
